
:root{
  --primary-text : white;
     --secondary-text: #808191;
     --primary-bg-color:#000000 ;
     /* --secondary-bg-color: #191C20; */
     --secondary-bg-color:#242731;
    --button-bg-color: #A3E3FF;
    --button-text-color:#3772FF;
    --highlight-color: #3772FF;
    --span-bg-color: #353945;
    --light-color: #ABE8FF;
    --dark-color: #2B2557;
  



    --main--heading : 'Kaushan Script', cursive;

}
